<article class="post card-body m-0">
  <div class="card">
      <div class="title d-flex card-header justify-content-between">
        <a href="/post/{{id}}">{{title}}</a>
        <div class=""><span>(Posted by {{user.username}} on {{format_date created_at}})</span></div>
      </div>
      <div class="meta border-bottom card-body">
       <div class="card-text">{{posted_note}}</div>
       <div class="justifyComment">
        
         
         <a href="/post/{{id}}" class="btn btn-sm btn-outline-warning mx-2"><i class="fa-solid fa-comments"></i> Add a Comment</a> 
        
         <a href="/post/{{id}}" class="btn btn-sm btn-outline-info ml-2">{{comments.length}} {{format_plural "comment" comments.length}} </a>
       </div>
      </div>
    </div>
</article>