 <article class="post card-body m-0">
  <div class="card">
      <div class="title d-flex card-header ">
        <a href="/post/{{id}}">{{title}}</a>
        <div class="justify-content-between"><span>(Posted by {{user.username}} on {{format_date created_at}})</span></div>
      </div>
      <div class="meta border-bottom card-body">
       <div class="card-text">{{posted_note}}</div>
        <a href="/post/{{id}}" class="justifyComment">{{comments.length}} {{format_plural "comment" comments.length}} </a>
      </div>
    </div>
</article>